.wrapper.p {
    background: url(../../resources/images/contactbanner.png) ;
    height: 500px;
    background-size: cover;

}

.wrapper.q {
    background: url(../../resources/images/appointment_banner.jpg) ;
    height: 500px;
    background-size: cover;
    
}