footer.footer {
    background: url(../../resources/images/bottom.png);
    background-size: cover;
}

div.footer-copyright.red {
    height: 50px;
    padding: 20px;
}

div.col.l4.offset-l2.s12 {
    margin-left: 0;
    margin-top: 50px;
    font-size: x-large;
}