div.wrapper.b {
   width: 100%;
    height: 450px;
    background: url(../../resources/images/aboutbanner.png) no-repeat center;
    background-color: rgb(10, 147, 238);

    
    
}

.serve {
    width: 40%;
    height: 300px;
    background-color: white;
    margin-right: 100px;
    margin-top: 20px;
    margin-left: 80px;
    
}



.services.a {
    width:300px;
    margin-right: 100px;
    margin-left: 200px;
    background-color: white;
    margin-top: 50px;
}



.down.b.center {
    background-color: rgb(222, 237, 247);
    margin-top: 0px;
    margin-bottom: 0;
    height: 510px;
}

.down.c.center {
    background-color: rgb(190, 221, 241);
    margin-top: -38px;
    margin-bottom: 0;
    height: 510px;
}

.down.d.center {
    background-color: rgb(222, 237, 247);
    margin-bottom: 0;
    height: 510px;
    margin-top: -40px;
    
}

.down.e.center {
    background-color: rgb(190, 221, 241);
    margin-bottom: 0;
    height: 510px;
    margin-top: -40px;
    
}

.col10 {
    padding: 10px;
}