.caoursel img {
    min-width: 100%;
}


div.down.a{
    background-color: rgb(216, 236, 245);
    height: 800px;
    margin-top: -600px;
}

div.Wrapper.h.center {
    background-color:rgb(226, 220, 220);
    height: 530px;
    
}


.row.a {
    height: 1000px;
    margin-top: 100px;
    
}

div.col.server.a.center {
    
    width: 400px;
    height: 400px; 
    margin-left: 100px; 
    margin-top: 60px;
}

.row.b {
    margin-left: 100px;
}



div.col.s12.m5.center
{
    margin-top: 50px;
    margin-left: 300px;
    width: 500px;
    
    
}

h2.center.blue-text {
    margin-bottom: 0;
    margin-top: 0px;
    margin-left: 0;
    font-weight: 900;
}

div.col.s16.center{
    margin-top: -40px;
    margin-left: 200px;
    

}

h2.brid.blue-text {
    margin-left: 0;
    font-weight: bolder;
}

p.blue-text {
    font-size: 30px;
    font-weight: bolder;
}