div.Wrapper.center.white-text{
    background: url(../../resources/images/room1.jpg) fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding: 100px;
   
    
}
.whole {
    background-color: rgba(207, 207, 207, 0.801);
}

h1.service {
    font-size: 1000%;
}

.services.l {
    float: left;
    width: 20%;
    padding: 2px;
    text-align: center;
    margin-left: 100px;
    margin-right: 15px;
    margin-top: 30px;
    background-color: white ;
    margin-bottom: 30px;
    height: 260px;
    
    
  }
  .services.k {
    width: 20%;
    text-align: center;
    margin-left: -15px;
    margin-top: 30px;
    background-color: white ;
    height: 260px;
    
  }
  .services img {
    width: 100%;
    height: 251px;
  }
  
  h6 {
    font-weight: Bold;
  }
  
  .Wrapper.blue {
      text-align: center;
      margin-top: 0;
      height: 190px;
      padding: 30px;
  }

  .down.r {
      background-color: white;
      height: 400px;
      
    
  }

  .pic {
      margin-left: 300px;
  }

 

  h2.blue-text {
      margin-left: 800px;
      margin-top: -300px;;
  }
 