#Top {
    padding: 50px;
    margin-right: 45px; ;
}

header {
    min-height: 20px;
    
    
  }
  header a {
    color: rgb(14, 9, 9);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
  
    
  }
  .image {
    height: 250px;
  }
 

  header #branding {
    float: left;
    margin-top: 50px;
  }


  
  header .highlight,
  header {
    color: #82b541;
    font-weight: bold;
    font-size: 40px;
  }
  
  header a:hover {
    color: #666;
    font-weight: bold;
  }

  h1.blue-text {
    font-size: 800%;
    margin-left: 250px;
    font-weight: bold;
  }

  h1.red-text {
    font-size: 800%;
    margin-top: -140px;
    margin-left: 300px;
    font-weight: 900;
  }

